/* font-family: 'Righteous', cursive;
font-family: 'Russo One', sans-serif; */

body {
  background-color: #eeebe6;
  font-family: "Montserrat", sans-serif;
}

.main-wrapper {
  padding: 10px 5%;
}

.nav-logo {
  font-size: 52px;
  transition: transform 250ms;
}

.nav-logo:hover {
  transform: rotate(-15deg);
}

.nav-link {
  text-align: right;
  font-size: 20px;
  transition: all ease 200ms;
}

.nav-link:hover {
  color: black;
}

.active {
  font-weight: 600;
}

.navbar-toggler {
  border: none;
}

.hero {
  padding: 50px 0;
  max-width: 1000px;
}

.hero h3 {
  font-size: 3rem;
}

.hero h1 {
  font-family: "Righteous", cursive;
  font-size: 8rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 60px;
}

.testimonials {
  margin: 15vh auto;
}

.testimonials .row {
  margin-bottom: 60px;
}

.testimonials p {
  font-size: 1.3rem;
  font-weight: 500;
  z-index: 1;
}

.grid-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.column {
  position: relative;
}

.quote {
  color: rgb(251, 56, 113, 0.3);
  font-size: 7rem;
  position: absolute;
  z-index: -1;
  top: -50px;
  left: -15px;
  rotate: 15deg;
}

.cuddle {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.cuddle h3 {
  font-size: 2.5rem;
  margin-right: 15px;
}

.cuddle .arrow {
  font-size: 2.5rem;
}

.services {
  max-width: 1000px;
  margin: 100px auto;
}

.services .row {
  margin-bottom: 60px;
}

.services h4 {
  font-weight: 600;
}

.services p {
  font-size: 20px;
}

.services-img {
  max-width: 400px;
  height: 400px;
  border: solid 3px black;
  box-shadow: 3px 3px 0 black;
  border-radius: 50%;
}

.team {
  margin: 60px auto;
}

.team .column {
  border: solid 3px black;
}

.btn {
  max-width: 400px;
  border: 2px solid black;
  box-shadow: 3px 3px 0 black;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 25px;
  margin: 8vh auto 20vh auto;
  background-color: transparent;
  transition: all 100ms ease;
}

.btn:hover {
  background-color: #FB3871;
  color: white;
  border: 2px solid black;
  box-shadow: none;
  transform: translate(3px,3px);
}

footer {
  border-top: solid 1px black;
  font-size: 14px;
  padding-top: 5px;
}

@media (max-width: 950) {
  .row {
    display: block;
  }
}
